/* Existing CSS styles */
body{
    background-color: #212121;
    color: antiquewhite;
}
h1{
    text-align: center;
}
.form {
    background-color: #928a8a;
    color: aqua;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    
}
.qrcode{
    margin: 20px;
}
#generateBtn{
    margin: 20px;
}


.element{
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 15px;
    
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

/* New styles for the QR code display area */
.qr-code-container {
    margin-top: 20px;
    text-align: center;
}

#qrcode {
    display: flex;
    justify-content: center;
}
